@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
    font-family     : 'Open Sans', sans-serif;

}


button#scrollToTopBtn {
    display         : none;
    position        : fixed;
    bottom          : 20px;
    right           : 20px;
    width           : 40px;
    height          : 40px;
    border          : none;
    background-color: #161f7a;
    color           : #fff;
    font-size       : 20px;
    border-radius   : 20%;
    cursor          : pointer;
    transition      : background-color 0.3s ease;
    z-index         : 999;
    opacity         : 0.8;
    box-shadow      : 0 2px 4px rgba(0, 0, 0, 0.1);
}

button#scrollToTopBtn:hover {
    background-color: #1321b9;
    opacity         : 1;
}

.containerHead {
    max-width      : 1200px;
    margin         : 0 auto;
    padding        : 0 15px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;

}

.containerHead button {
    margin-top      : 25px;
    display         : inline-block;
    padding         : 10px 15px;
    font-size       : 18px;
    font-weight     : bold;
    text-transform  : uppercase;
    border          : solid 2px #8bb2e9;
    border-radius   : 20px;
    background-color: #8bb2e9;
    color           : #161f7a;
    transition      : background-color 0.3s ease;
    letter-spacing  : 1px;
    transition      : background-color 0.3s ease, transform 0.2s ease;
    /* Add transition for transform property */
}

.containerHead button:hover {
    cursor          : pointer;
    background-color: #8bb2e9;
    color           : #161f7a;
    transform       : translateY(-5px);
    /* Add a slight upward translation */
    transition      : background-color 0.3s ease, transform 0.2s ease;
    /* Add transition for transform property */
}



.index {
    background-image   : url(../fotos/cooling.png);
    background-size    : cover;
    background-position: center;
    padding-top        : 300px;
    padding-bottom     : 450px;
    min-height         : 90vh;
}




.index h1 {
    font-size    : 50px;
    font-weight  : 900;
    text-align   : center;
    margin-bottom: 0;
}

.index p {
    text-align : center;
    color      : white;
    font-weight: 600;
    font-size  : 20px;
}

main {
    margin   : 0 auto;
    max-width: 1800px;
}

.meer {
    cursor       : pointer;
    position     : absolute;
    top          : 14%;
    margin-right : auto;
    margin-left  : 760px;
    padding      : 16px;
    margin-top   : -50px;
    color        : #161f7a;
    font-weight  : bold;
    font-size    : 30px;
    border-radius: 3px 0 0 3px;
    z-index      : 10;
}




.wie {
    width        : 200px;
    margin-left  : 50px;
    margin-right : 50px;
    border-radius: 10px;
}

.textRight {
    position    : relative;
    margin-right: 100px;
}

.imageLeft {
    margin-right  : -150px;
    left          : 0;
    box-shadow    : rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border-radius : 15px;
    padding-bottom: 3%;
    padding-top   : 3%;
}

.meerResBtn {
    display         : none;
    cursor          : pointer;
    padding         : 11px;
    color           : #ffffff;
    font-weight     : bold;
    font-size       : 30px;
    border-radius   : 10px;
    background-color: #161f7a;
    box-shadow      : rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border-radius   : 15px;
    margin-bottom   : 3%;
    margin-top      : 3%;
}


.overOns {
    background-color: #f5f5f5;
    text-align      : center;
    padding-top     : 50px;
    margin          : 0 auto;

}

.overOnsFlex {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    margin-top     : 25px;
    width          : 75%;
    margin-left    : 15.25%;
    height         : 500px;
    box-sizing     : border-box;
    font-size      : 50px;
    transition     : 0.5s;
}


.text1,
.text2 {
    font-size    : 20px;
    font-weight  : 400;
    line-height  : 1.5;
    margin-bottom: 25px;
    margin-left  : 50px;
    margin-right : 50px;
}


.overOnsFlex .meerPic {
    width        : 600px;
    margin-left  : 235px;
    border-radius: 10px;
    position     : relative;
    cursor       : pointer;

}

.lijn {
    width         : 75%;
    padding-bottom: 25px;
    margin        : 25px;
    border-bottom : 2px solid #161f7a;
    margin        : 0 auto;
}

.lijn2 {
    width         : 75%;
    padding-bottom: 25px;
    margin        : 50px;
    border-bottom : 2px solid #161f7a;
    margin        : 0 auto;
}


.index h1 {
    background             : -webkit-linear-gradient(left, #161f7a, #1321b9);
    background             : -o-linear-gradient(right, #161f7a, #1321b9);
    background             : -moz-linear-gradient(right, #161f7a, #1321b9);
    background             : linear-gradient(to right, #161f7a, #1321b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.vanovermeerenLogo {
    width        : 10%;
    border-radius: 20%;
    margin-top   : 1%;
    margin-left  : 20%;
}

.vanovermeerenLogoPosition {
    margin-left: 3%;
}

.backgroundLogo {
    width: 100%;
    top  : -10;

}

.box {
    height         : auto;
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
    flex-flow      : wrap;
    margin-left    : 10%;
    margin-right   : 10%;
    margin-top     : 1%;
}

.vanLinks {
    width           : 300px;
    height          : 450px;
    margin          : 20px;
    box-sizing      : border-box;
    font-size       : 50px;
    transition      : 0.5s;
    box-shadow      : rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius   : 5px;
    margin-bottom   : 8%;
    cursor          : pointer;
    transition      : all 1s ease;
    opacity         : 0;
    /* transform    : translateX(-100%); */
    background-color: #fff;
}

.vanRechts {
    width           : 300px;
    height          : 450px;
    margin          : 20px;
    box-sizing      : border-box;
    font-size       : 50px;
    transition      : 0.5s;
    box-shadow      : rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius   : 5px;
    margin-bottom   : 8%;
    cursor          : pointer;
    transition      : all 1s ease;
    opacity         : 0;
    /* transform    : translateX(100%); */
    background-color: #fff;
}

.vanBeneden {
    width        : 300px;
    height       : 400px;
    margin       : 20px;
    box-sizing   : border-box;
    font-size    : 50px;
    transition   : 0.5s;
    box-shadow   : rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin-bottom: 8%;
    cursor       : pointer;
}

.toonBeneden {
    opacity  : 1;
    transform: translateY(0);
}


.toonLinks {
    opacity  : 1;
    transform: translateX(0);
}

.toonRechts {
    opacity  : 1;
    transform: translateX(0);
}

.toon-up {
    display: block !important;
}

.boxes:hover {
    transform : scale(1.1);
    transition: 0.5s;
}

.prodtext {
    width              : 100%;
    display            : flex;
    flex-direction     : column;
    justify-content    : center;
    align-items        : center;
    transition         : 0.5s;
    color              : rgb(62, 62, 62);
    font-weight        : bold;
    font-size          : 32px;
    /* font-family     : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    color              : #fff;
    background-color   : #161f7a;
    padding            : 2%;
    margin-top         : 5%;
}

.beschrijving {
    margin-top   : 5%;
    font-size    : 20px;
    width        : 90%;
    text-align   : center;
    padding      : 6%;
    border-radius: 20px;
    margin-left  : 5%;
}

.icoon {
    width        : 100;
    display      : flex;
    margin-left  : 42%;
    margin-top   : 10%;
    border-radius: 20px;
}

strong {
    color: #161f7a;
}


.specTitle {
    text-align    : center;
    font-size     : 30px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.sectionOne {
    padding-top: 50px;
    position   : relative;
}


.logo-on-image {
    width        : 450px;
    border-radius: 10px;
}




textarea {
    width           : 100%;
    height          : 150px;
    border-radius   : 4px;
    background-color: #f8f8f8;
    font-size       : 16px;
    resize          : none;
    padding         : 12px 20px;
    box-sizing      : border-box;
    border          : 2px solid #ccc;
}

.realisaties h2 {
    text-align: center;
}

.realisaties p {
    font-size   : 20px;
    font-weight : 400;
    line-height : 1.5;
    text-align  : center;
    margin-left : auto;
    margin-right: auto;
    max-width   : 600px;
    margin-top  : 25px;
}

.realisaties {
    margin-bottom: 100px;
}


.reaKnopPos {
    margin-top   : 10px;
    margin-bottom: 10px;
    text-align   : center;
}

.reaKnop {
    margin-top      : 25px;
    display         : inline-block;
    padding         : 10px 15px;
    font-size       : 18px;
    font-weight     : bold;
    text-transform  : uppercase;
    border          : solid 2px #8bb2e9;
    border-radius   : 20px;
    background-color: #8bb2e9;
    color           : #161f7a;
    transition      : background-color 0.3s ease, transform 0.2s ease;
    /* Add transition for transform property */
    box-shadow      : 0px 6px 10px rgba(0, 0, 0, 0.3);
    /* Increase the box shadow */
    letter-spacing  : 1px;
}

.reaKnop:hover {
    cursor: pointer;

    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    /* Increase the box shadow */
    transform : translateY(-5px);
    /* Add a slight upward translation */
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Add transition for transform property */
}

.reaContainer {
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;
    flex-flow      : wrap;
    margin-left    : 10%;
    margin-right   : 10%;
    margin-top     : 1%;
    margin-bottom  : 4%;
}

.reaContainer img {
    width        : 400px;
    height       : 300px;
    border-radius: 20px;
    padding      : 10px;
}

iframe {
    border-radius: 5px;
}

.locatieKaart {
    margin-top   : 50px;
    margin-bottom: 150px;
    width        : 50%;
    margin-left  : 25%;
    height       : 450px;
    text-align   : center;
    box-sizing   : border-box;
    font-size    : 50px;
    transition   : 0.5s;
    box-shadow   : rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

/* .naar-boven {
    position        : fixed;
    top             : 81%;
    right           : 50px;
    background-color: #161f7a;
    width           : 50px;
    height          : 50px;
    opacity         : 1;
    cursor          : pointer;
    display         : none;
    border-radius   : 10px 0 0 10px;
} */

.fa-chevron-up {
    color      : white;
    font-size  : 30px;
    margin-top : 10px;
    margin-left: 10px;

}


@media screen and (min-width: 2000px) {
    .logo-on-image {
        width     : 600px;
        margin-top: 100px;
    }

    .containerHead button {
        /* padding: 10px 15px; */
        padding  : 15px 25px;
        font-size: 25px;
    }
}


@media screen and (max-width: 600px) {
    .index h1 {
        font-size: 30px;
    }

    .index p {
        font-size: 15px;
    }

    .overOnsFlex {
        flex-direction: column;
    }

    .logo-on-image {
        width: 350px;
    }

    .containerHead button {
        padding: 10px 15px;
    }

    p.reaUitleg {
        font-size: 15px;
    }
}

@media screen and (max-width: 1500px) {
    .imageLeft {
        margin-top     : 125px;
        width          : 90%;
        justify-content: center;
        align-items    : center;
    }
}

@media screen and (max-width: 1300px) {
    .overOnsFlex {
        flex-direction : column;
        height         : 750px;
        justify-content: center;
        margin-left    : 12.5%;
        margin-top     : 100px;
        padding-bottom : 500px;
    }

    .wie {
        display: none;
    }

    .textRight {
        margin-top     : 25px;
        width          : 90%;
        justify-content: center;
        align-items    : center;
    }


    .imageLeft {
        margin-top     : 500px;
        margin-left    : 0 !important;
        margin-right   : 0;
        justify-content: center;
    }

    /* .text1,
    .text2 {
    } */

    .meerPic {
        width        : 100% !important;
        border-radius: 10px;
        position     : relative;
        cursor       : pointer;
        margin-left  : 50px !important;
    }

    .meer {
        width: 0%;
    }

    .fa-circle-plus {
        display: none !important;
    }

    .meerResBtn {
        display      : block;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .logo-on-image {
        margin-top: 0;
    }

    .index {
        padding-bottom: 0px;
        padding-top   : 250px;
        min-height    : 86vh;
    }

    .containerHead {
        max-width  : 1200px;
        margin     : 0 auto;
        padding    : 0 15px;
        align-items: center;

    }

}

/* @media screen and (max-width: 1000px) {
    .imageLeft {
        margin-top     : 325px;
        width          : 90%;
        justify-content: center;
        align-items    : center;
    }
} */

@media screen and (max-width: 900px) {
    .imageLeft {
        margin-top: 325px;
    }
}

@media screen and (max-width: 800px) {
    .overOnsFlex {
        margin-top    : -100px;
        padding-bottom: 100px;
    }

    .sectionOne {
        padding-top  : 50px;
        position     : relative;
        margin-bottom: 100px;
    }

    .reaKnopPos {
        margin-top   : 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .imageLeft {
        margin-top     : 200px;
        width          : 90%;
        justify-content: center;
        align-items    : center;
    }

    .text1,
    .text2 {
        margin-left : 20px;
        margin-right: 20px;
        text-align  : left;
    }
}

@media screen and (max-height: 650px) {
    .index {
        padding-bottom: 0px;
        padding-top   : 150px;
        min-height    : 86vh;
    }

}

@media screen and (max-height: 450px) {
    .index {
        padding-bottom: 0;
        padding-top   : 70px;
        min-height    : 86vh;
    }

}

@media screen and (max-width: 420px) {
    .imageLeft {
        margin-top     : 150px;
        width          : 90%;
        justify-content: center;
        align-items    : center;
    }

    .containerHead button {
        padding  : 10px 15px;
        font-size: 15px;
    }

    .logo-on-image {
        width: 300px;
    }
}

@media screen and (max-width: 330px) {
    .imageLeft {
        margin-top     : 200px;
        width          : 90%;
        justify-content: center;
        align-items    : center;
    }
}



@media screen and (max-width: 500px) {
    .reaContainer {

        margin-left : 20%;
        margin-right: 20%;

    }

    .reaContainer img {
        width        : 300px;
        height       : 200px;
        border-radius: 20px;
        padding      : 10px;
    }

    .locatieKaart {
        margin-top   : 50px;
        margin-bottom: 50px;
        width        : 80%;
        margin-left  : 10.5%;
        height       : 450px;

    }
}