@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing : border-box;
  font-family: 'Open Sans', sans-serif;

}

#koelKnop {
  display: none !important;
}

.verbergSanitair {
  display: none;
}

.opties {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  flex-flow      : wrap;
 
  margin-top     : 1%;
  margin-bottom  : 3%;
  margin-left    : 35%;
  margin-right   : 35%;
}

.keuze {
  background-color: #fff;
  color           : #161f7a;
  border          : 2px solid #161f7a;
  font-weight     : bold;
  padding         : 15px 20px;
  border          : none;
  border-radius   : 5px;
  cursor          : pointer;
  margin          : 0 10px;
  font-size       : 20px;
  transition      : background-color 0.3s ease;
  align-items     : center;
  justify-content : center;
  border          : 2px solid #161f7a;
}

.standaard {
  background-color: #161f7a;
  color           : white;
  font-weight     : 100;
}

.aangeDuid {
  background-color: #161f7a;
  color           : white;
  border          : 2px solid #161f7a;
  font-weight     : 100;
  padding         : 15px 20px;
  border          : none;
  border-radius   : 5px;
  cursor          : pointer;
  margin          : 0 10px;
  font-size       : 20px;
  transition      : background-color 0.3s ease;
  align-items     : center;
  justify-content : center;
  border          : 2px solid #161f7a;
}

.keuze:hover {
  background-color: #161f7a;
  color           : white;
  font-weight     : 100;
}


.fotoKlik {
  /* make full screen */
  position  : fixed;
  z-index   : 9999;
  top       : 0;
  left      : 0;
  right     : 0;
  bottom    : 0;
  margin    : auto;
  width     : 90% !important;
  height    : 90% !important;
  /* disable scrolling */
  overflow  : hidden;
  /* transition effect. not necessary */
  transition: 0.3s;



}

.close {
  display    : none;
  position   : fixed;
  top        : 55px;
  right      : 135px;
  color      : #161f7a;
  font-size  : 40px;
  font-weight: 900;
  transition : 0.3s;
  cursor     : pointer;
  z-index    : 99999999999;
}

.close.show {
  display: block;
}

.close:hover,
.close:focus {
  color          : #bbb;
  text-decoration: none;
  cursor         : pointer;
}

main {
  margin-top: 3%;
}

h2 {
  font-size  : 2.5em;
  font-weight: 600;
  margin     : 50px;
  padding    : 0;
  text-align : center;
}

.reaTiteltje {
  font-size  : 1.5em;
  font-weight: 600;
  margin     : 0;
  padding    : 0;
  text-align : center;
}

img {
  vertical-align: middle;
}

.container {
  display : flex;
  position: relative;
}

.container .badkamer img {
  width        : 570px;
  height       : 370px;
  border-radius: 10px;
  /* cursor    : pointer; */
}

.container .row img {
  width : 100%;
  height: 100%;
}

/* .badkamer {
  display: none;
} */

.cursor {
  cursor: pointer;
}

.prev {
  cursor             : pointer;
  position           : absolute;
  top                : 55%;
  margin-left        : -24.4%;
  width              : auto;
  padding            : 16px;
  margin-top         : -50px;
  color              : #fff;
  font-weight        : bold;
  font-size          : 20px;
  border-radius      : 0 3px 3px 0;
  user-select        : none;
  -webkit-user-select: none;
}


.next {
  cursor             : pointer;
  position           : absolute;
  top                : 55%;
  margin-right       : 51.3%;
  padding            : 16px;
  margin-top         : -50px;
  color              : #fff;
  font-weight        : bold;
  font-size          : 20px;
  border-radius      : 3px 0 0 3px;
  user-select        : none;
  -webkit-user-select: none;
}

.next {
  right        : 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #161f7a;
  color           : #ccc;
}

.numbertext {
  color    : #f2f2f2;
  font-size: 12px;
  padding  : 8px 12px;
  position : absolute;
  top      : 0;
}

.caption-container {
  text-align      : center;
  background-color: #161f7a;
  padding         : 10px 16px;
  color           : white;
  border-radius   : 10px 10px 0 0;
}

#caption {
  color      : #ccc;
  font-size  : 32px;
  padding    : 10px 12px;
  max-width  : 1000px;
  font-weight: 600;
  text-align : center;
}

@media only screen and (min-width: 1200px) {
  #caption {
    margin-left: 80px;
  }
}

.row:after {
  content: "";
  display: table;
  clear  : both;
  width  : 100%;
}

.row1:after {
  content: "";
  display: table;
  clear  : both;
  width  : 100%;
}

.column {
  float : left;
  width : 16.663%;
  border: #161f7a 2px solid;

}

.bad {
  opacity: 0.6;
}

.active {
  border-bottom: 5px solid blue;

}

.active,
.bad:hover {
  opacity: 1;
}

.sleepContainer {
  position     : relative;
  max-width    : 1200px;
  align-items  : center;
  margin       : 0 auto;
  margin-top   : 50px;
  margin-bottom: 50px;
}

.realisatieC {
  background-image: url(../fotos/badrealisatie.png);
  background-size : cover;
  padding-top     : 200px;
  padding-bottom  : 200px;
}

.realisatieC h1 {
  font-size    : 50px;
  font-weight  : 900;
  text-align   : center;
  margin-bottom: 0;
  color        : #fff;
  text-shadow  : 2px 2px 4px #000000;
}

.sleepContainer .badkamer {
  width : 320px;
  height: auto;
}

.row {
  border: solid 2px #161f7a;
}

.sleepContainer .row img {
  width : 100%;
  height: 100%;
}

.badkamer {
  display: none;
}

.cursor {
  cursor: pointer;
}

.reaUitleg {
  font-size   : 20px;
  font-weight : 400;
  line-height : 1.5;
  text-align  : left;
  margin-left : 20px;
  margin-right: 20px;
  max-width   : 800px;
  margin-top  : 25px;
}

@media screen and (max-width: 1300px) {
  .container {
    width  : 100%;
    display: block;
  }

  .container .badkamer {
    position     : relative;
    margin       : auto;
    padding      : 10px;
    margin-bottom: 50px;
  }

  .prevPos {
    top     : 55%;
    position: absolute;
  }

  .nextPos {
    top     : 55%;
    right   : 20.9%;
    position: absolute;
  }

  .container .badkamer img {
    width : 95%;
    margin: 0 auto;
    height: 80%;
  }

  .container .badkamer .prevPos {
    margin-left: 2.5%;
  }

  .container .badkamer .nextPos {
    margin-right: -17.5%;
  }

  .numbertext {
    top : 5%;
    left: 5%;
  }

}

@media screen and (max-width: 900px) {

  .verdwijn,
  .caption-container {
    display: none;
  }

  .prev:hover,
  .next:hover {
    background-color: transparent;
    color           : #ccc;
  }
}

@media screen and (max-width: 500px) {

  .prevPos,
  .nextPos {
    top: 63%;
  }

  .numbertext {
    top: 5%;
  }
}

@media screen and (max-width: 450px) {
  .titel {
    font-size: 20px;
  }
}

strong {
  font-weight: 600;
  color      : #161f7a;
}

/* .box {
  height         : auto;
  display        : flex;
  flex-direction : column;
  justify-content: space-evenly;
  flex-flow      : wrap;
  margin-left    : 10%;
  margin-right   : 10%;
  margin-top     : 1%;
} */

/* .boxes {
  width        : 300px;
  height       : 400px;
  margin       : 20px;
  box-sizing   : border-box;
  font-size    : 50px;
  transition   : 0.5s;
  box-shadow   : rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  margin-bottom: 8%;
  cursor       : pointer;
} */


.boxes:hover {
  transform : scale(1.1);
  transition: 0.5s;
}

.prodtext {
  width              : 100%;
  display            : flex;
  flex-direction     : column;
  justify-content    : center;
  align-items        : center;
  transition         : 0.5s;
  color              : rgb(62, 62, 62);
  font-weight        : bold;
  font-size          : 32px;
  /* font-family     : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  color              : #fff;
  background-color   : #161f7a;
  padding            : 2%;
  margin-top         : 5%;
}

.beschrijving {
  margin-top   : 5%;
  font-size    : 20px;
  width        : 90%;
  text-align   : center;
  padding      : 6%;
  border-radius: 20px;
  margin-left  : 5%;
}

.icoon {
  width        : 100;
  display      : flex;
  margin-left  : 42%;
  margin-top   : 10%;
  border-radius: 20px;
}

@media only screen and (max-width: 450px) {

  .reaContainer img {
    width : 300px;
    height: auto;
  }

  .reaUitleg {
    margin-left : 20px;
    margin-right: 20px;
  }
}

.partners {
  margin-top   : 50px;
  margin-bottom: 50px;
}

.partners h2 {
  text-align: center;
}

.partners p {
  font-size   : 20px;
  font-weight : 400;
  line-height : 1.5;
  text-align  : center;
  margin-left : auto;
  margin-right: auto;
  max-width   : 600px;
  margin-top  : 25px;
}

.partnersContainer {
  display        : flex;
  flex-direction : row;
  justify-content: space-evenly;
  flex-flow      : wrap;
  margin-left    : 10%;
  margin-right   : 10%;
  margin-top     : 1%;
  margin-bottom  : 25px;
}

.partnersContainer img {
  width        : 300px;
  border-radius: 20px;
  padding      : 10px;
}


@media only screen and (max-width: 900px) {

  .partners {
    height: 400px
  }

  .partners {
    margin-bottom: 100px;
  }
}



@media only screen and (max-width:750px) {

  .partners {
    margin-bottom: 250px;
  }
}


@media only screen and (max-width: 400px) {

  .container .badkamer .prevPos {
    margin-left: 2.5%;
  }

  .container .badkamer .nextPos {
    margin-right: -15.5%;
  }
}

.partner {
  position     : relative;
  box-sizing   : border-box;
  margin-bottom: 0px;
}

.partnerLijn {
  width      : 60%;
  margin-left: 20%;
  color      : #161f7a;
}


@media only screen and (max-width: 1050px) {
  .opties {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    flex-flow      : wrap;
    margin-top     : 1%;
    margin-bottom  : 3%;
    margin-left    : 25%;
    margin-right   : 25%;
  }
}

@media only screen and (max-width: 630px) {
  .opties {

    margin-left    : 10%;
    margin-right   : 10%;
  }
}

@media only screen and (max-width: 630px) {
  .opties {

    margin-left    : 5%;
    margin-right   : 5%;
  }
}

@media only screen and (max-width: 350px) {
  .opties {

    justify-content: space-around;

    margin-left    : 5%;
    margin-right   : 5%;
  }

  .keuze {
    padding: 10px;
  }
}